[Desktop Entry]
Version=1.0
Type=Application
Name=Anleitungen (Lehrer)
Comment=
Exec=pcmanfm --profile=orte 
Icon=help-contents
Path=/nwbox/manuals-lehrer
Terminal=false
StartupNotify=false
