[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[Papierkorb]
row=3
col=5


### Haupt-Desktop

[/home/nwboxuser/Schreibtisch/WebUntis.desktop]
row=1
col=1

[/home/nwboxuser/Schreibtisch/Sokrates.desktop]
row=1
col=2

[/home/nwboxuser/Schreibtisch/Schulbuch.desktop]
row=1
col=3

[/home/nwboxuser/Schreibtisch/Monitoring.desktop]
row=1
col=3

[/home/nwboxuser/Schreibtisch/Win7.desktop]
row=1
col=5

[/home/nwboxuser/Schreibtisch/WinXP-Littera.desktop]
row=2
col=5

[/home/nwboxuser/Schreibtisch/Hinweise.desktop]
row=2
col=1

[/home/nwboxuser/Schreibtisch/manuals.desktop]
row=2
col=2

[/home/nwboxuser/Schreibtisch/AnleitungenLehrer.desktop]
row=2
col=3

[/home/nwboxuser/Schreibtisch/VWA-Info.desktop]
row=2
col=4

[/home/nwboxuser/Schreibtisch/DVD-smplayer.desktop]
row=3
col=1

[/home/nwboxuser/Schreibtisch/DVD-vlc.desktop]
row=3
col=2

[/home/nwboxuser/Schreibtisch/CD-oeffnen.desktop]
row=3
col=3

[/home/nwboxuser/Schreibtisch/orte.desktop]
row=4
col=1


### Spiele

[/home/nwboxuser/Schreibtisch/bovo.desktop]
row=1
col=1

[/home/nwboxuser/Schreibtisch/kapman.desktop]
row=1
col=2

[/home/nwboxuser/Schreibtisch/katomic.desktop]
row=1
col=3

[/home/nwboxuser/Schreibtisch/kblackbox.desktop]
row=1
col=4

[/home/nwboxuser/Schreibtisch/kblocks.desktop]
row=1
col=5

[/home/nwboxuser/Schreibtisch/kbounce.desktop]
row=1
col=6

[/home/nwboxuser/Schreibtisch/kbreakout.desktop]
row=2
col=1

[/home/nwboxuser/Schreibtisch/kdesnake.desktop]
row=2
col=2

[/home/nwboxuser/Schreibtisch/KGoldrunner.desktop]
row=2
col=3

[/home/nwboxuser/Schreibtisch/kiriki.desktop]
row=2
col=4

[/home/nwboxuser/Schreibtisch/kjumpingcube.desktop]
row=2
col=5

[/home/nwboxuser/Schreibtisch/klickety.desktop]
row=2
col=6

[/home/nwboxuser/Schreibtisch/klines.desktop]
row=3
col=1

[/home/nwboxuser/Schreibtisch/knetwalk.desktop]
row=3
col=2

[/home/nwboxuser/Schreibtisch/kreversi.desktop]
row=3
col=3

[/home/nwboxuser/Schreibtisch/ksame.desktop]
row=3
col=4

[/home/nwboxuser/Schreibtisch/kspaceduel.desktop]
row=3
col=5

[/home/nwboxuser/Schreibtisch/ktron.desktop]
row=3
col=6

[/home/nwboxuser/Schreibtisch/picmi.desktop]
row=4
col=1


### Büroprogramme


[/home/nwboxuser/Schreibtisch/libreoffice-base.desktop]
row=2
col=1

[/home/nwboxuser/Schreibtisch/libreoffice-calc.desktop]
row=2
col=2

[/home/nwboxuser/Schreibtisch/libreoffice-impress.desktop]
row=2
col=3

[/home/nwboxuser/Schreibtisch/libreoffice-writer.desktop]
row=2
col=4

### Windows-Programme vom Desktop auskommentiert NT, 16. 1. 2017

### [/home/nwboxuser/Schreibtisch/msppt.desktop]
### row=1
### col=1

### [/home/nwboxuser/Schreibtisch/msexcel.desktop]
### row=1
### col=2

### [/home/nwboxuser/Schreibtisch/msword.desktop]
### row=1
### col=3

[/home/nwboxuser/Schreibtisch/freemind.desktop]
row=3
col=1

