[Desktop Entry]
Version=1.0
Type=Application
Name=Schulbuch-Aktion
Comment=Schulbuchaktion
Exec=java -classpath '.:/usr/share/java/mysql.jar:/usr/share/java/mysql-connector-java.jar:/nwbox/apps-wine' sba.sba
Icon=accessories-dictionary
Path=/home/nwboxuser
Terminal=false
StartupNotify=false
