[Desktop Entry]
Version=1.0
Type=Application
Name=Sokrates
Comment=
Exec=firefox -P default https://www.sokrates-bund.at/BRZTIROL
Icon=
Path=
Terminal=false
StartupNotify=false
