[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[de_DE]=gnome-panel-launcher
Name[de_DE]=Windows 7
Exec=/nwbox/public/linuxapps/switch2Win7
Name=Windows 7
Icon=wine
Comment=zu Windows 7 wechseln / Windows 7 starten
